@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-primary: #FFFFFF;
    --background-secondary: #6c757d;
    --color-third: #CED4DA;
    --color-fourth: #212529;
    --color-fifth: #ced4da;
    --text-primary: #495057;
}

// App styles
.app {
    font-family: "Poppins", sans-serif;
    width: 100vw;
    height: 100vh;
    padding: 24px;
    background: var(--background-primary);
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 12fr;
    gap: 24px;
    align-items: center;

    h1 {
        color: var(--text-primary);
    }
}

// Weathers List
.weather-list {
    display: grid;
    gap: 24px;
}

// WeatherCard styles
.weather-card {
    color: white;
    background: var(--background-secondary);
    padding: 14px;
    display: grid;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    
    .card-icon {
        img {
            width: 100%;
        }
    }

    .card-body {
        display: flex;
        gap: 14px;
        justify-content: space-around;

        div {
            font-size: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                display: flex;
                justify-content: center;
                
                .degree {
                    font-size: 50%;
                }
            }
        }
    }
}

$layout-breakpoint-small: 960px;
    // for mobile
    @media (max-width: $layout-breakpoint-small) {
        // Weathers List
        .weather-list {
            grid-template-rows: auto auto auto auto auto;
        }
        // WeatherCard styles
        .weather-card {
            grid-template-columns: 1fr 4fr;
            

            .emphasis {
                font-size: 150%;
            }
        }
    }

    @media (min-width: $layout-breakpoint-small) {
        // Weathers List
        .weather-list {
            grid-template-columns: auto auto auto auto auto;
            justify-self: center;
        } 
        // WeatherCard styles
        .weather-card {
            max-width: 240px;
            grid-template-rows: 120px auto;

            .card-body {
                flex-direction: column;

                .emphasis {
                    font-size: 200%;
                }
            }
        }
    }

// Search style
.city-selector{
    position: relative;
    max-width: 448px;
    justify-self: center;

    input {
        width: 100%;
        background: var(--color-third);
        border: none;
        border-radius: 24px;
        color: white;
        font-size: 18px;
        padding: 14px;
    }justify-self: center;

    button {
        position: absolute;
        right: 0px;
        border: none;
        border-radius: 24px;
        padding: 14px;
        font-size: 18px;
        color: var(--background-primary);
        background: var(--color-fourth);
    }
}